*, *::before, *::after {
  /*the normal universal selector(without pseudo elements) only affects the normal elements. so to avoid undesired behaviour, we mention the pseudo elements too */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*this makes the box-sizing property to be inherited(by default it's not inherited) */ }

html {
  /*this defines what 1rem is*/
  font-size: 62.5% !important;
  /*this changes the root font-size !!  1rem = 10px because 10px/16px = 62.5%*/
  overflow: auto; }

body {
  box-sizing: border-box;
  padding: 3rem; }

.table-header__cell {
  position: sticky !important;
  top: 0;
  z-index: 2; }
  .table-header__cell:hover {
    background-color: green !important; }

.ui.sortable.table thead th.sorted {
  background: #666699 !important; }

.home {
  max-width: 114rem;
  margin: 0 auto; }
  .home__table {
    padding: 10rem 0; }
  .home__graphs {
    padding: 5rem 0; }
