*, *::before, *::after {
  /*the normal universal selector(without pseudo elements) only affects the normal elements. so to avoid undesired behaviour, we mention the pseudo elements too */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*this makes the box-sizing property to be inherited(by default it's not inherited) */ }

html {
  /*this defines what 1rem is*/
  font-size: 62.5% !important;
  /*this changes the root font-size !!  1rem = 10px because 10px/16px = 62.5%*/
  overflow: auto; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 50% !important; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  overflow: auto !important;
  font-size: inherit !important; }
  @media only screen and (max-width: 600px) {
    body {
      padding: 0; } }

.table-header__cell {
  position: sticky !important;
  top: 0;
  z-index: 2;
  white-space: normal !important;
  text-align: center !important; }
  .table-header__cell:hover {
    background-color: green !important; }

.ui.sortable.table thead th.sorted {
  background: #666699 !important; }

.ui.table tr td:first-child {
  white-space: normal; }

.table-wrapper {
  position: relative; }

svg g line + text[text-anchor="start"] {
  display: none; }

svg g[transform="translate(0,0)"] line + text[text-anchor="middle"] {
  display: block; }

svg g:nth-child(4n + 1) line + text[text-anchor="start"] {
  display: block; }
  @media only screen and (max-width: 600px) {
    svg g:nth-child(4n + 1) line + text[text-anchor="start"] {
      display: none; } }

@media only screen and (max-width: 600px) {
  svg g:nth-child(8n + 1) line + text[text-anchor="start"] {
    display: block; } }

svg g rect {
  stroke-width: 1px; }

.barChart {
  padding-bottom: 4rem; }

.card {
  padding: 1rem; }
  .card--general, .card--new-cases, .card--active-cases, .card--deaths {
    background-color: #314455; }
  .card--general, .card--deaths {
    grid-column: 1 / -1; }
  .card__title {
    text-align: center; }
  .card__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; }
  .card__item span {
    margin-left: 5px; }

.header {
  padding: 4rem;
  background-image: linear-gradient(to right, #022140, #265077); }
  .header .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center; }
    .header .nav__link:link, .header .nav__link:visited {
      text-transform: uppercase;
      color: #fff;
      padding: 1rem;
      display: block;
      /*fot the padding to be applied */
      transition: all .2s; }
    .header .nav__link:hover, .header .nav__link:active {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-3px); }

.home {
  max-width: 114rem;
  margin: 0 auto; }
  .home__table {
    padding: 10rem 0; }
  .home__graphs {
    padding: 5rem 0; }

.country {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .country__cards {
    display: grid;
    grid-template-rows: repeat(3, 20vh);
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / -1;
    justify-items: center;
    align-items: center;
    color: mediumaquamarine; }

.graphs {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2rem; }
